<div id="follow_form_<%= user.id %>">
  <% unless current_user.following?(user) %>
    <div><%= link_to follow_relationships_path(id: user.id), method: :post, remote: true do %>
      <i class="far fa-thumbs-up unfollow h3"><small class="h6"> フォローする</small></i>
    <% end %></div>
  <% else %>
    <div><%= link_to unfollow_relationship_path(id: user.id), method: :delete, remote: true do %>
      <i class="fas fa-thumbs-up follow h3"><small class="h6"> フォロー中</small></i>
    <% end %></div>
  <% end %>
</div>
