<div class="mypost-wrap">
  <div class="mypost-title  d-flex">
    <span><h4 class="pt-1 pb-4">自分の投稿一覧</h4></span>
    <%= link_to new_condition_path, class: 'transition-btn ml-4' do %>
      <i class="fas fa-plus"> 海況投稿</i>
    <% end %>
  </div>
  <div class="">
    <p>
      <% conditions.each do |condition| %>
      <div class="pb-3">
        <%= link_to condition_path(condition.id) do %>
          <i class="fas fa-angle-double-right" data-toggle="tooltip" data-placement="right" title="投稿詳細へ"><%= " #{condition.created_at.strftime("%-m月%e日")} / #{condition.divesite.zone} / #{condition.divesite.name}" %></i>
        <% end %>
      </div>
      <% end %>
    </p>
    <div class="mb-2 d-flex justify-content-center">
      <%= paginate conditions, remote: true %>
    </div>
  </div>
</div>
