<div class="background">
  <div class="top-logo">
    <%= image_tag("/images/PRODIVE_lightblue.png", height: 45) %>
    <br>
    <h5>プロの資格を持つダイバーの為の<br>海況把握アプリ</h5>
    <h1>今日、どこに潜りに行く？</h1>
  </div>

  <div class="translucent-box">
    <p></p>
  </div>

  <br>
  <p>説明文のBOX</p>
  <br>
  <p>説明文のBOX</p>
  <br>
  <p>説明文のBOX</p>
  <br>
  <p>説明文のBOX</p>
  <br>
  <p>説明文のBOX</p>
  <br>
  <p>説明文のBOX</p>
  <br>
  <p>説明文のBOX</p>
  <br>
  <p>説明文のBOX</p>
  <br>
  <div class="">
    <%= link_to 'ログイン', "#" %>
  </div>
  <div class="">
    <%= link_to '新規登録', "#" %>
  </div>
  <br>

</div>
