<div class="change-map-contents">
  <h5 class="pb-1"><span>選択した区域にある</span><span>ダイブサイト一覧</span></h5>
  <div class="d-flex justify-content-around card-wrap">
    <% zones.each do |zone| %>
    <div class="item">
      <%= image_tag '/images/divesites/airtank.png', class: "diving-icon" %>
      <%= link_to divesite_path(zone) do %>
        <span><%= zone.name %><i class="fas fa-angle-right"></i></span>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
