<div class="container-fluid sea-condition-map">
  <div class="row">
    <aside class="col-sm-4 col-md-4 col-lg-3 floating-board">
      <nav class="select-map-range">
        <h5 class="heading01"><span>地図を</span><span>表示させたい</span><span>エリアを選択</h5>
        <% @areas.each do |area| %>
        <ul>
          <li>
            <i class="sidebar_icon before-click"></i>
            <h3 class="select-area"><%= area %></h3>
            <% @zones = @divesites.where(area: area) %>
            <% @zones.pluck(:zone).uniq.each do |zone| %>
            <ul class="zone-list">
              <li ><%= link_to zone, select_map_divesites_path(zone: zone), data: {lat: "#{@zones.find_by(zone: zone).latitude}", lng: "#{@zones.find_by(zone: zone).longitude}"}, class: "zone", remote: true %></li>
            </ul>
            <% end %>
          </li>
        </ul>
        <% end %>
      </nav>
    </aside>
    <div class="wrapper">
      <div class="row">
        <div class="col-sm-5 col-md-5 col-lg-4 empty-element"></div>
        <div class="col-sm-7 col-md-7 col-lg-8 row">
          <article class="col-sm-12 col-md-12 col-lg-7">
              <h2 class="pt-2 pb-1">海況MAP</h2>
              <div class="pb-2 transitions">
                <%= link_to '海況を投稿', new_condition_path, class: "goto-new" %>
                <%= link_to '本日の投稿一覧', conditions_path, class: "goto-index" %>
              </div>
            <div class="map-image">
              <div id='map'></div>
            </div>
          </article>
          <div class="col-sm-0 col-md-0 col-lg-4 map-contents">
            <p>選択したエリア内のダイブサイト</p>
            <div class="">
              <div class="">
                <div class="">
                  <span><i class="fas fa-fish"></i>Divsite</span>
                </div>

              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBwZEHSacqV8SYTnZaKXGc7xFdyqZXkNwE&callback=initMap" async defer></script>
