$aqua: #00ffff;
$blue: rgb(58, 171, 210);
$violet: #351586;
$deepblue: #211E55;
$lightgrey: #f5f5f5;
$deepgrey: rgb(186, 190, 192);
$kinari: #FCFAF2;
$white: rgba(254,255,250,1);
$grey: rgba(220,231,235,1);
$red: rgba(255,104,115,1);
$black: rgba(48,69,92,0.9);
$bluegreen: #0089A7;
