@import "variables";

// new
.hidden {
  display: none;
}

.select_divesite-wrap {
  padding-top: 30px;
  text-align: center;
  .select_divesite {
    letter-spacing: 3px;
    text-align: left;
    padding-top: 20px;
    display: inline-block;
    p {
      margin: 0;
    }
    .headding {
      margin-bottom: 1rem;
    }
    button {
      letter-spacing: 2px;
      margin-top: 6px;
      padding: 3px 8px;
      border-style: none;
      border-radius: 3px;
      color: $black;
      background-color: $grey;
      &:hover {
        transform: translateY(-5px);
      }
    }
  }
}

.input-field-wrap {
  letter-spacing: 3px;
  padding-top: 20px;
  padding-bottom: 100px;
  text-align: center;
  font-weight: bold;
  label {
    font-weight: bold;
  }
  span.response {
    display: inline-block;
    padding: 5px 10px;
    background-color: $grey;
    border-radius: 3px;
  }
  span.response-support {
    display: inline-block;
    font-size: 1.5rem;
  }
  .input-field {
    text-align: left;
    display: inline-block;
    .required::after {
      content: " *";
      color: $red;
      vertical-align: middle;
    }
    .status-radio-btn {
      padding-right: 10px;
    }
    .input-content {
      outline: none;
      resize: none;
      height: 100px;
    }
  }
  .unobtrusive {
    margin: 0;
  }
}

.headding {
  position: relative;
	padding-bottom: 20px;
	font-size: 30px;
	text-align: center;
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 6px 0 6px;
    border-color: $blue rgba(0,0,0,0) rgba(0,0,0,0) rgba(0,0,0,0);
  }
}
table {
  border-collapse: separate;
  border-spacing: 15px;
  width: 100%;
  th {
    font-weight: normal;
    padding-right: 18px;
    text-align: right;
  }
}

.temp, .visib {
  .form-control {
    display: inline-block;
    width: 88%;
  }
}

#img-default {
  width: 250px;
  height: 250px;
  object-fit: cover;
  &:hover {
    border: solid 3px $black;
  }
}

.submit-btn {
  letter-spacing: 3px;
  margin-top: 20px;
  padding: 5px 20px;
  border-style: none;
  border-radius: 5px;
  color: $kinari;
  background-color: $blue;
  &:hover {
    transform: translateY(-5px);
  }
}

// PC/タブレット表示
@media screen and (min-width:768px){
  .headding {
    font-size: 2.0rem;
    span {
      display: block;
    }
  }
  .input-field-wrap {
    span.response {
      font-size: 2.0rem;
    }
    span.response-support {
      font-size: 1.5rem;
    }
  }
}

// スマホ表示
@media screen and (max-width:767px){
  .select_divesite-wrap {
    .select_divesite {
      button {
        margin-right: 10px;
        margin-bottom: 5px;;
      }
    }
  }
  .headding {
    font-size: 1.5rem;
    span {
      display: inline-block;
    }
  }
  .input-field-wrap {
    span.response {
      font-size: 1.5rem;
    }
    span.response-support {
      font-size: 1.2rem;
    }
    .fukidashi01 {
      display: none;
    }
    input::placeholder {
      font-size: .9rem;
    }
    table {
      th {
        display: block;
        width: 100%;
        text-align: left;
      }
      td {
        display: block;
        width: 100%;
        span {
          display: inline-block;
        }
      }
    }
  }
}

// show
.copy_alert {
  text-align: center;
  display: none;
  span {
    display: inline-block;
  }
}

.post-show {
  .card-item {
    width: 100%;
    padding: 40px;
    &:hover {
      border: none;
      transform: scale(1.0);
    }
  }
  .card-item-inner {
    .card-table {
      border: dashed $black;
      // margin: 20px;
      #js-copytext {
        width: 100%;
        background-color: $kinari;
        padding: 10px;
      }
    }
    .copy-btns {
      width: 100%;
      #js-copybtn {
        display: block;
        margin: 20px auto;
        letter-spacing: 3px;
        padding: 10px 12px;
        border-style: none;
        border-radius: 5px;
        background-color: $black;
        color: $kinari;
        &:hover {
          transform: translateY(-5px);
        }
      }
      .headding {
        font-size: 1rem;
        &:after {
          margin-top: 50px;
        }
      }
      .tweet-btn {
        display: block;
        margin: 20px auto;
        iframe {
          display: block;
          margin: 20px auto;
        }
      }
    }
  }
  .card-image {
    width: 100%;
  }
  .show-last-btns {
    width: 100%;
    .transition-btn {
      letter-spacing: 3px;
      background-color: $black;
      a {
        color: $kinari;
      }
      &:hover {
        transform: translateY(-5px);
      }
    }
    .post-delete {
      width: 45%;
    }
  }
}

// PC/タブレット表示
@media screen and (min-width:768px) {
  .post-show {
    .card-wrap {
      margin: 0 auto;
      width: 80%;
    }
  }
  .show-last-btns {
    justify-content: space-around;
  }
}

// スマホ表示
@media screen and (max-width:767px) {
  .post-show {
    .card-wrap {
      margin: 0 auto;
      width: 100%;
    }
  }
  .show-last-btns {
    font-size: .9rem;
    span {
      display: inline-block;
    }
  }
}


// index
.post-index {
  padding-top: 20px;
  .unobtrusive {
    margin: 0;
    width: 100%;
    text-align: center;
  }
}
.card-wrap {
  margin: 30px 0 50px 0;
  display: flex;
  flex-wrap: wrap;
}

.card-item {
  display: block;
  border-radius: 5px;
  padding: 25px;
  align-self: flex-start;
  background-color: $grey;
  &:hover {
    border: solid 2px $blue;
    transform: scale(1.05);
  }
  .card-item-inner {
    position: relative;
    display: block;
    .card-link {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: block;
    }
  }
  p {
    margin: 0;
  }
  .card-title {
    width: 100%;
    position: relative;
    z-index: 10;
    .status-icon {
      filter: grayscale(30%) contrast(0.8);
    }
  }
  .card-table {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    table {
      align-self: start;
      border-spacing: 5px;
      margin: 0 auto;
      th {
        font-size: 0.8rem;
        color: $blue;
        i {
          padding-left: 5px;
          color: $blue;
        }
      }
    }
  }
  .card-date {
    text-align: right;
  }
  .card-comment {
    font-size: 0.8rem;
    color: $blue;
    i {
      padding-left: 5px;
      color: $blue;
    }
    max-width: 150px;
    text-align: left;
  }
  .card-image {
    margin: 10px auto;
    text-align: center;
    img, video {
      width: 100%;
    }
  }
}

.post-user-avatar {
  border-radius: 100%;
}


.accordion-header{
  position: relative;
  width:100%;
  text-align: right;
  padding: 10px;
  cursor:pointer;
  z-index: 10;
  &:hover {
    animation: PuruPuru 2s
  }
  i {
    padding-left: 20px;
  }
  .before-click {
    transform: rotateX(180deg);
  }
}

.accordion-inner{
  width:100%;
  margin:0 auto;
  display: none;
  height: auto;
}

.cropit-image-preview {
  width: 250px;
  height: 250px;
  background-color: $kinari;
}

// PC表示
@media screen and (min-width:1281px) {
  .post-index{
    .card-wrap {
      gap: 30px;
      .card-item {
        width: calc((100% - 60px) / 3);
      }
    }
  }

}

// タブレット表示
@media screen and (min-width:768px) and (max-width:1280px) {
  .post-index {
    .card-wrap {
      gap: 30px;
      .card-item {
        width: calc((100% - 30px) / 2);
      }
    }
  }
}

// スマホ表示
@media screen and (max-width:767px) {
  .post-index {
    .card-wrap {
      gap: 0px;
      .card-item {
        width: 100%;
        margin-bottom: 20px;
      }
    }
  }
}
