@import "variables";


.sea-condition-map {
  position: relative;
  height: 100%;
  width: 100%;
  h5 {
    text-align: center;
  }
  .floating-board {
    position: absolute;
    top: 50px;
    left: 5%;
    padding-bottom: 10px;
    width: 100%;
    height: auto;
    z-index: 40;
    background-color: $lightgrey;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  }
}

.select-map-range {
  .transition {
    transition: all 0.25s ease-in-out;
  }
  .flipIn {
    animation: flipdown 0.5s ease both;
  }
  h5 {
    margin-top: 1rem;
    line-height: 42px;
    letter-spacing: 3px;
    font-weight: 200;
    @extend .flipIn;
  }
  h3 {
    // color: $black;
    font-size: 24px;
    line-height: 40px;
    font-weight: 100;
    letter-spacing: 15px;
    display: block;
    margin: 0;
    cursor: pointer;
  }
  a {
    color: $black;
    font-size: 17px;
    line-height: 26px;
    letter-spacing: 10px;
    position: relative;
    overflow: hidden;
    max-height: 800px;
    @extend .transition;
    opacity: 1;
    transform: translate( 0 , 0 );
    margin-top: 14px;
    z-index: 2;
  }
  ul {
    list-style: none;
    perspective: 900;
    padding: 0;
    margin: 0;
  }
  li {
    position: relative;
    padding: 0;
    margin: 0;
    text-align: center;
    border-top: 1px dotted $grey;
    @extend .flipIn;
    &:nth-of-type(1) {
      animation-delay: 0.5s;
    }
    &:nth-of-type(2) {
      animation-delay: 0.75s;
    }
    &:nth-of-type(3) {
      animation-delay: 1.0s;
    }
    &:last-of-type {
    }
    i {
      position: absolute;
      transform: translate( -6px , 0 );
      margin-top: 16px;
      right: 10px;
      &:before , &:after {
        content: "";
        @extend .transition;
        position: absolute;
        background-color: $violet;
        width: 3px;
        height: 9px;
      }
      &:before {
        transform: translate( -2px , 0 ) rotate( 45deg );
      }
      &:after {
        transform: translate( 2px , 0 ) rotate( -45deg );
      }
    }
    .before-click {
      &:before {
        transform: translate( 2px , 0 ) rotate( 45deg );
      }
      &:after {
        transform: translate( -2px , 0 ) rotate( -45deg );
      }
    }
  }
}

.zone-list {
  transform: translate( 0 , 50% );
  display: none;
  position: relative;
  padding: 0;
  margin: 0;
  padding-bottom: 4px;
  padding-top: 18px;
  text-align: center;
  border-top: 1px dotted $grey;
  @extend .flipIn;
  li {
    background-color: $white;
  }
}

@keyframes flipdown {
  0% {
    opacity: 0;
    transform-origin: top center;
    transform: rotateX(-90deg);
  }
  5% {
    opacity: 1;
  }
  80% {
    transform: rotateX(8deg);
  }
  83% {
    transform: rotateX(6deg);
  }
  92% {
    transform: rotateX(-3deg);
  }
  100% {
    transform-origin: top center;
    transform: rotateX(0deg);
  }
}





.table-col-1 {
  width: 180px;
  font-size: 1.2rem;
}

.table-col-2 {
  width: 200px;
}

.table-col-3 {
  width: 200px;
}
