@import "variables";

// index
.sea-condition-map {
  position: relative;
  height: 100%;
  width: 100%;
  letter-spacing: 3px;
  h5 {
    letter-spacing: 3px;
    text-align: center;
    span {
      display: inline-block;
      text-align: center;
      background-image: linear-gradient(rgba(0,0,0,0) 80%, $grey 80%);
    }
  }

  .select-menu-btn {
    height: 30px;
    background-color: $black;
    color: $kinari;
    padding: 10px 12px 8px 12px;
    border-radius: 3px;
    z-index: 10;
    &:hover {
      transform: scale(1.08);
      color: $kinari;
    }
  }

  .floating-board {
    position: absolute;
    top: 80px;
    left: 5%;
    padding-bottom: 10px;
    width: 100%;
    height: auto;
    z-index: 40;
    background-color: $lightgrey;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  }
  .close-btn {
    opacity: 0;
    color: $black;
    position: absolute;
    top: -10px;
    right: -31px;
    font-size: 2.0rem;
    z-index: 100;
    &:hover {
      color: $black;
      transform: scale(1.2);
    }
  }
  h2 {
    letter-spacing: 5px;
    text-align: center;
    vertical-align: bottom;
  }
  .wrapper {
    padding-top: 20px;
    height: 100%;
    width: 100%;
  }

  .empty-element {
    height: 100%;
    min-height: 670px;
  }

  article {
    min-height: 670px;
  }
}

// PC表示
@media screen and (min-width:1200px) {
  .sea-condition-map {
    .empty-element {
      width: 30%;
    }
    article {
      width: 57%;
    }
    .select-menu-btn {
      display: none;
    }
    .map-image {
      #map {
        position: absolute;
        top: 0;
        left: 5%;
        width: 90%;
        height: 90%;
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .sea-condition-map {
    .empty-element {
      width: 40%;
    }
    article {
      width: 55%;
    }
    .select-menu-btn {
      display: none;
    }
    .close-btn {
      opacity: 0;
    }
    .map-image {
      #map {
        position: absolute;
        top: 0;
        left: 5%;
        width: 90%;
        height: 90%;
      }
      .pin-discription {
        position: relative;
        top: 0px;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .sea-condition-map {
    .wrapper {
      padding-top: 8px;
    }
    .select-map-menu-btn {
      width: 100%;
      background-color: $black;
      color: $kinari;
      padding: 5px 10px;
      margin: 0 auto;
      padding: 8px 12px;
      border-radius: 3px;
      z-index: 10;
      &:hover {
        transform: scale(1.08);
        color: $kinari;
      }
    }
    .floating-board {
      left: -100%;
    }
    .floating-board.active {
      top: 0px;
      left: 50%;
      height: auto;
      transition-delay: 0.3s;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
    }
    .select-menu-btn.after-click {
      display: none;
    }
    .close-btn {
      opacity: 1;
    }
    .empty-element {
      width: 0%;
    }
    article {
      width: 100%;
      padding-top: 10px;
      .fukidashi01 {
        width: 80px;
      }
      .goto-new,.goto-index {
        display: none;
      }
      .map-image {
        #map {
          position: absolute;
          top: 0;
          left: 0%;
          width: 100%;
          height: 100%;
        }
        .pin-discription {
          position: relative;
          top: 30px;
        }
      }
    }
  }
}

// sidebar
.select-map-range {
  .transition {
    transition: all 0.25s ease-in-out;
  }
  .flipIn {
    animation: flipdown 0.5s ease both;
  }
  h5 {
    margin-top: 1rem;
    line-height: 42px;
    letter-spacing: 3px;
    font-weight: 200;
    @extend .flipIn;
  }
  h3 {
    font-size: 24px;
    line-height: 40px;
    font-weight: 100;
    letter-spacing: 15px;
    display: block;
    margin: 0;
    z-index: 1100;
    cursor: pointer;
  }
  a {
    display: block;
    color: $black;
    font-size: 17px;
    line-height: 26px;
    letter-spacing: 10px;
    position: relative;
    overflow: hidden;
    max-height: 800px;
    @extend .transition;
    opacity: 1;
    transform: translate( 0 , 0 );
    margin-top: 14px;
    z-index: 2;
  }
  ul {
    list-style: none;
    perspective: 900;
    padding: 0;
    margin: 0;
  }
  li {
    position: relative;
    padding: 0;
    margin: 0;
    text-align: center;
    border-top: 1px dotted $grey;
    @extend .flipIn;
    &:nth-of-type(1) {
      animation-delay: 0.5s;
    }
    &:nth-of-type(2) {
      animation-delay: 0.75s;
    }
    &:nth-of-type(3) {
      animation-delay: 1.0s;
    }
    &:last-of-type {
    }
    i {
      position: absolute;
      transform: translate( -6px , 0 );
      margin-top: 16px;
      right: 10px;
      &:before , &:after {
        content: "";
        @extend .transition;
        position: absolute;
        background-color: $violet;
        width: 3px;
        height: 9px;
      }
      &:before {
        transform: translate( -2px , 0 ) rotate( 45deg );
      }
      &:after {
        transform: translate( 2px , 0 ) rotate( -45deg );
      }
    }
    .before-click {
      &:before {
        transform: translate( 2px , 0 ) rotate( 45deg );
      }
      &:after {
        transform: translate( -2px , 0 ) rotate( -45deg );
      }
    }
  }
}

.zone-list {
  transform: translate( 0 , 50% );
  display: none;
  position: relative;
  padding: 0;
  margin: 0;
  padding-bottom: 4px;
  padding-top: 18px;
  text-align: center;
  border-top: 1px dotted $grey;
  @extend .flipIn;
  li {
    background-color: $white;
  }
}

@keyframes flipdown {
  0% {
    opacity: 0;
    transform-origin: top center;
    transform: rotateX(-90deg);
  }
  5% {
    opacity: 1;
  }
  80% {
    transform: rotateX(8deg);
  }
  83% {
    transform: rotateX(6deg);
  }
  92% {
    transform: rotateX(-3deg);
  }
  100% {
    transform-origin: top center;
    transform: rotateX(0deg);
  }
}
.transitions {
  text-align: center;
  .goto-new, .goto-index {
    letter-spacing: 3px;
    margin-top: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 5px 15px;
    border-style: none;
    border-radius: 5px;
    background-color: $black;
    color: $kinari;
    &:hover {
      background-color: $grey;
      color: $blue;
    }
  }
}

// map表示
.map-image {
  position: relative;
  padding-top: 56.25%;
  #map {

  }
  .pin-discription {
    .sample-pin {
      width: 20px;
      height: 27px;
    }
    span {
      margin-right: 5px;
    }
  }
}

.fukidashi01 {
  width: 100px;
  vertical-align: bottom;
  margin-left: 10px;
}

.map-contents-wrap {
  margin-top: 50px;
}

.map-contents {
  margin-top: 30px;
  margin-bottom: 100px;
  h5 {
    text-align: center;
    span {
      display: inline-block;
      text-align: center;
      padding-bottom: 5px;
      margin-bottom: 2px;
      background-image: linear-gradient(rgba(0,0,0,0) 80%, $blue 80%);
    }
  }
}
.item {
  text-align: center;
  // padding: 1px;
  width: 46%;
  a {
    display: block;
    &:hover {
      transform: translateX(5px);
    }
  }
  i {
    margin-left: 8px;
  }
}

// show
.divesite-top {
  position: relative;
  .divesite-top-image {
    position: relative;
    object-fit: cover;
    width: 100%;
    height: 250px;
  }
  .mask-gradation {
    position: absolute;
    top: 0px;
    left: 0;
    height: 250px;
    width: 100%;
    opacity: 0.55;
  }
  .divesite-top-value {
    width: 100%;
    height: 110px;
    position: absolute;
    top: 80px;
    padding: 20px 0;
    background-color: $kinari;
    h1 {
      position: relative;
      text-align: center;
      letter-spacing: 8px;
      z-index: 20;
    }
    .divesite-name {
      font-size: 36px;
      margin: 0 auto;
    }
    .divesite-name::before {
      content: attr(data-detail);
      display: block;
      color: $grey;
      font-size: 20px;
      font-style: italic;
      position: relative;
      text-align: center;
    }
  }
}

#favorite-part {
  width: 50px;
  span.favorite-part {
    display: inline;
    width: 50px;
    .favorite-icon {
      c
      &:hover {
        transform: translateY(-5px);
      }
    }
    .favorite-situation {
      font-size: 10px;
      font-weight: bold;
      letter-spacing: 1px;
      position: relative;
      top: 20px;
      right: 62px;
    }
  }
}


.divesites-contents {
  width: 100%;
  height: 100%;
  .card-wrap {
    .unobtrusive {
      margin: 0;
      width: 100%;
      text-align: center;
    }
  }
  .card-item {
    width: 100%;
    .card-item-inner {
      display: flex;
      flex-wrap: wrap;
      .card-table {
        margin: 0 auto;
        max-width: 250px;
      }
      .card-content {
        margin: 0 auto;
        width: 35%;
      }
      @media not all and (min-width: 1200px) {
        .card-content {
          width: 80%;
        }
      }
      .card-image {
        width: 100%;
      }
    }

  }
}

.divesite-info {
  position: relative;
  margin: 2em 0;
  padding: 0.5em 1em;
  border: solid 3px $deepgrey;
  border-radius: 8px;
  .box-title {
    position: absolute;
    display: inline-block;
    top: -13px;
    left: 10px;
    padding: 0 9px;
    line-height: 1;
    font-size: 19px;
    background: $kinari;
    color: $deepgrey;
    font-weight: bold;
  }
}

table.divesite-table {
  border-collapse: separate;
  border-spacing: 0px 15px;
  td {
    padding-left: 20px;
  }
  th {
    background: #295890;
    vertical-align: middle;
    text-align: left;
    width: 120px;
    overflow: visible;
    position: relative;
    color: $white;
    font-size: 0.8rem;
    font-weight: normal;
    padding: 8px 10px;
  }
  th:after {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-left-color: #295890;
    border-width: 10px;
    margin-top: -10px;
  }
}

@media (min-width: 415px) {
  a[href^="tel:"] {
    pointer-events: none;
    text-decoration: none;
  }
}


@media screen and (max-width: 414px) {
  a[href^="tel:"] {
    cursor: default;
    text-decoration: underline;
}
}

// タブレットからPC
@media (min-width: 768px) {
  .divesite-top-value {
    h1 {
    }
  }
}
// 幅の狭いスマホ
@media (max-width: 767px) {
  .divesite-top {
    .divesite-top-value {
      .divesite-name {
        font-size: 25px;
      }
      .divesite-name::before {
        font-size: 18px;
      }
    }
  }
}

@media (min-width: 768px) {
  .divesites-contents {
    .card-item {
      margin-bottom: 10px;
    }
  }
}


@media (max-width: 767px) {
  .divesites-contents {
    .card-item {
      margin-bottom: 10px;
    }
  }
}
