@import "variables";

html, body {
  height: 100%;
  background-color: $kinari;
  color: $black;
}

.outermost {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  display: flex;
  align-items: center;
  height: 100px;
  background-color: $white;
  .fas {
    font-size: 0.9rem;
  }
}

.header-menu {
  margin-left: auto;
  ul {
    display: flex;
  }
  li a {
    padding: 0 20px;
  }
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;

}

a {
  color: $black;
  // display: block;
  &:hover {
    text-decoration: none;
    color: $red;
  }
}

.container-fluid {
  padding: 0;
}

.row {
  margin: 0;
}

.alert {
position: fixed;
top: 100px;
right: 0;
margin-right: 15px;
margin-bottom: 0;
text-align: center;
z-index: 40;
animation: PuruPuru 2s forwards, fadeOut 10s linear forwards;
}

.transition-btn {
  letter-spacing: 3px;
  padding: 10px 12px;
  border-style: none;
  border-radius: 5px;
  background-color: $grey;
  &:hover {
    transform: translateY(-5px);
  }
}

.unobtrusive {
  letter-spacing: 3px;
  padding: 10px 12px;
  color: $deepgrey;
  display: block;
  &:hover {
    transform: translateX(5px);
  }
  i {
    margin-left: 10px;
  }
}

footer {
  margin-top: auto;
  .footer-wrap {
    height: 100px;
    width: 100%;
  }
  .footer-dividing-line  {
    width: 100%;
    min-width: 1400px;
    overflow: hidden;
  }
  p {
    margin-top: 32px;
    font-size: 12px;
    text-align: center;
    vertical-align: bottom;
  }
}

@keyframes PuruPuru {
  0% {
        transform: translate(0px, 2px);
    }
    5% {
        transform: translate(0px, -2px);
    }
    10% {
        transform: translate(0px, 2px);
    }
    15% {
        transform: translate(0px, -2px);
    }
    20% {
        transform: translate(0px, 2px);
    }
    25% {
        transform: translate(0px, -2px);
    }
    30% {
        transform: translate(0px, 0px);
    }
}

@keyframes fadeOut {
  100% {
    opacity: 0;
  }
}
