@import "variables";

html, body {
  height: 100%;
  width: 100%;
  background-color: $kinari;
  color: $black;
  font-family: 'Noto Sans JP', sans-serif !important;
}

.outermost {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  display: flex;
  align-items: center;
  height: 100px;
  background-color: #fff;
  .fas {
    font-size: 0.9rem;
  }
}

.nav-toggle {
  margin-left: auto;
  position: relative;
  right: 10px;
  z-index: 10;
  background-color: $black;
  cursor: pointer;
  width: 50px;
  height:50px;
  border: solid 2px $kinari;
  border-radius: 5px;
}

/*ボタン内側*/
.nav-toggle span{
    display: inline-block;
    transition: all .4s;/*アニメーションの設定*/
    position: absolute;
  }

.nav-toggle span:nth-of-type(1),
.nav-toggle span:nth-of-type(3) {
    height: 2px;
    background: $kinari;
    width: 62%;
    left: 8px;
}

.nav-toggle span:nth-of-type(1) {
  top:10px;
}

.nav-toggle span:nth-of-type(2) {
  top:16px;
  left:8.5px;
  font-size:0.6rem;
  text-transform: uppercase;
  color: $kinari;
}

.nav-toggle span:nth-of-type(3) {
  top:36px;
}

// activeクラス付与
.nav-toggle.active {
  border-color: $kinari;
}

.nav-toggle.active span:nth-of-type(1) {
    top: 16px;
    left: 16px;
    transform: translateY(6px) rotate(-45deg);
    width: 30%;
}

.nav-toggle.active span:nth-of-type(2) {
  opacity: 0;
}

.nav-toggle.active span:nth-of-type(3){
    top: 28px;
    left: 16px;
    transform: translateY(-6px) rotate(45deg);
    width: 30%;
}

// スマホ表示
@media screen and (max-width:768px){
  nav.header-menu {
    display: none;
    position: fixed;
    z-index : 2;
    top  : 0;
    left : 0;
    color: $kinari;
    font-size: 1.5rem;
    background: $black;
    text-align: center;
    width: 100%;
    height: 100%;
    transition: opacity .6s ease, visibility .6s ease;
    ul {
      margin: 0 auto;
      padding-top: 100px;
      width: 100%;
      vertical-align: middle;
      li {
        list-style-type: none;
        padding: 0;
        width: 100%;
        transition: .4s all;
        &:last-child {
          padding-bottom: 0;
        }
        &:hover {
          background: $grey;
        }
        a {
          display: block;
          color: $kinari;
          padding: 1em 0;
          text-decoration :none;
          &:hover {
            color: $black;
          }
        }
      }
    }
  }
  nav.header-menu.active {
    display: block;
  }
}

// PC表示
@media screen and (min-width:769px){
  .nav-toggle {
    display: none;
  }
  .header-menu {
    margin-left: auto;
    ul {
      display: flex;
    }
    li a {
      padding: 0 20px;
    }
  }
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;

}

a {
  color: $black;
  // display: block;
  &:hover {
    text-decoration: none;
    color: $red;
  }
}

.container-fluid {
  padding: 0;
}

.row {
  margin: 0;
}

.alert {
position: fixed;
top: 100px;
right: 0;
margin-right: 15px;
margin-bottom: 0;
text-align: center;
z-index: 40;
animation: PuruPuru 2s forwards, fadeOut 10s linear forwards;
}

.transition-btn {
  letter-spacing: 3px;
  padding: 10px 12px;
  border-style: none;
  border-radius: 5px;
  background-color: $grey;
  &:hover {
    transform: translateY(-5px);
  }
}

.unobtrusive {
  letter-spacing: 3px;
  padding: 10px 12px;
  color: $deepgrey;
  display: block;
  &:hover {
    transform: translateX(5px);
  }
  i {
    margin-left: 10px;
  }
}

footer {
  margin-top: auto;
  .footer-wrap {
    height: 100px;
    width: 100%;
  }
  .footer-dividing-line  {
    width: 100%;
    min-width: 100%;
    overflow: hidden;
  }
  p {
    margin-top: 32px;
    font-size: 12px;
    text-align: center;
    vertical-align: bottom;
  }
}

@keyframes PuruPuru {
  0% {
        transform: translate(0px, 2px);
    }
    5% {
        transform: translate(0px, -2px);
    }
    10% {
        transform: translate(0px, 2px);
    }
    15% {
        transform: translate(0px, -2px);
    }
    20% {
        transform: translate(0px, 2px);
    }
    25% {
        transform: translate(0px, -2px);
    }
    30% {
        transform: translate(0px, 0px);
    }
}

@keyframes fadeOut {
  100% {
    opacity: 0;
  }
}

.pagination {
  li {
    a {
      border: solid 2px $kinari;
      color: $black;
    }
  }
  .page-item.active {
    .page-link {
      background-color: $black;
      border-color: $black;
      a {
        border-radius: 3px;
      }
    }
  }
}
