@import "variables";

// users/mypage
.maypage-top-wrap {
  position: relative;
  width: 100%;
  height: 350px;
}

.mypage-top {
  position: relative;
  height: 250px;
  width: 100%;
  .avatar-image-top {
    position: relative;
    height: 250px;
    object-fit: cover;
    object-position: 50% 50%;
    width: 100%;
    z-index: 10;
    // filter: grayscale(100%) contrast(0.9);
  }
  .user-name {
    font-size: 2.3em;
    font-weight: bold;
    color: $kinari;
    text-shadow: 2px 3px 0 $black;
  }
  .user-follower-count {
    padding-left: 5px;
    z-index: 30;
    font-size: 0.8em;
    font-weight: bold;
    color: $kinari;
    text-shadow: 1px 2px 0 $black;
  }
  .col-sm-4 {
    padding: 0;
  }
}

.mask-gradation {
  position: absolute;
  height: 250px;
  width: 100%;
  z-index: 20;
  opacity: 0.55;
  background-image: linear-gradient(45deg, $aqua, $violet);
}

@media screen and (min-width:700px) {
  .user-name-wrap {
    position: absolute;
    top: 180px;
    left: 45%;
    z-index: 30;
  }
  .mypage-top {
    .avatar-image-top {
      filter: grayscale(100%) contrast(0.9);
    }
  }
}
@media screen and (max-width:699px) {
  .mypage-top {
    .user-name-wrap {
      position: absolute;
      top: 170px;
      left: 10%;
      z-index: 30;
    }
    .mask-gradation {
      display: none;
    }
    .avatar-image-top {
      filter: grayscale(0%) contrast(1);
    }
  }
}


// show
.user-show-top-wrap {
  position: relative;
  width: 100%;
  height: 100%;
}
.user-show-left {
  position: relative;
  width: 50%;
  text-align: center;
  margin: auto;
  .avatar-image-top {
    position: relative;
    object-fit: cover;
    width: 100%;
    max-width: 250px;
    z-index: 10;
    border-radius: 100%;
  }
}
.user-show-right {
  position: relative;
  width: 50%;
  text-align: center;
  vertical-align: middle;
  margin: 0 auto;
  margin-top: 70px;
  h2 {
    span {
      font-size: 1.2em;
    }
  }
  .follow-part {
    margin: 50px auto;
    max-width: 200px;
  }
  .follow-btn {
    text-align: center;
    background-color: $grey;
    border-radius: 5px;
    width: 100%;
    margin: 0 auto;
    display: block;
    &:hover {
      transform: translateY(-5px);
    }
    .unfollow, .follow {
      padding: 10px;
      span a {
        display: block;
      }
    }
  }
}

.user-show-bottom {
  width: 100%;
  text-align: center;
  .user-show-post {
    padding-bottom: 50px;
  }
  .past-posts-title {
    font-size: 1.6rem;
    span {
      display: inline-block;
    }
  }
  .past-posts {
    font-size: 1.3rem;
  }
}

.fa-angle-double-right {
  &:hover {
    transform: translateX(5px);
  }
}

.floating-board {
  position: absolute;
  top: 80px;
  left: 5%;
  padding: 0;
  width: 100%;
  max-width: 250px;
  height: 500px;
  z-index: 40;
  vertical-align: middle;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.close-btn {
  opacity: 0;
  color: $kinari;
  position: absolute;
  top: -12px;
  right: -31px;
  font-size: 2.0rem;
  z-index: 100;
  &:hover {
    color: $kinari;
    transform: scale(1.2);
  }
}

@media screen and (min-width: 700px) {
  .sidemenu-btn {
    display: none;
  }
  .user-show-top {
    margin-top: 50px;
  }
  .user-show-right {
    .follow-part {
      .follow-btn {
        font-size: 1rem;
        img {
          width: 65px;
        }
      }
    }
  }
  .empty-element {
    width: 45%;
  }
}

@media screen and (max-width: 699px) {
  .avatar-image {
    display: none;
  }
  .floating-board {
    left: -100%;
  }
  .floating-board.active {
    height: 250px;
    top: 100px;
    left: 50%;
    transition-delay: 0.3s;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
  }
  .close-btn {
    opacity: 1;
  }
  .sidemenu-btn.after-click {
    display: none;
  }
  .empty-element {
    width: 5px;
  }
  .row {
    width: 100%;
  }
  article {
    margin-top: 0 auto;
    width: 90%;
  }
  #mypage-content {
    width: 100%;
    margin-top: 50px;
    margin-left: 10px;
  }
  .user-show-top {
    margin-top: 10px;
  }
  .user-show-right {
    h2 {
      span {
        font-size: 0.9em;
      }
    }
    .user-info {
      h5 {
        font-size: 0.9em;
      }
    }
    .follow-part {
      .follow-btn {
        font-size: 0.75rem;
        img {
          margin: 0;
          width: 50px;
        }
      }
      .follower-count {
        font-size: 0.75rem;
      }
    }
  }
  .user-show-bottom {
    .past-posts-title {
      font-size: 1.4rem;
    }
    .past-posts {
      font-size: 1rem;
    }
  }
  .my-favorite {
    font-size: 1.35rem;
  }
  .myprofile {
    .myprofile-links {
      font-size: 0.85rem;
    }
  }
}

.avatar-image {
  padding: 0;
  height: 250px;
  object-fit: cover;
  width: 100%;
  background-color: $white;
}

.sidemenu-btn {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: $black;
  color: $kinari;
  margin-left: 8px;
  padding: 8px 12px;
  border-radius: 3px;
  z-index: 10;
  &:hover {
    transform: scale(1.08);
    color: $kinari;
  }
}

.side-menu {
  position: relative;
  text-align: center;
  display: block;
  vertical-align: middle;
  ul {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    padding-top: 20px;
    padding-bottom: 33px;
    vertical-align: middle;
    background-color: $lightgrey;
  }
  li {
    list-style-type: none;
    padding: 0;
    width: 100%;
    height: 75px;
    transition: .4s all;
    &:hover {
      background: $grey;
    }
    a.mymenu-link {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      vertical-align: middle;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
  .currently-selected {
    a {
      font-weight: bold;
      &:after {
        font-family: "Font Awesome 5 Free";
        font-size: large;
        content:   ' \f0da';
        color: $black;
        position: relative;
        left: 10px;
      }
    }
  }
}

.wrapper {
  position: relative;
  width: 100%;
  padding-top: 50px;
  background-color: $kinari;
}

// myprofile
.myprofile {
  padding-bottom: 50px;
  th {
  text-align: left;
  font-size: 0.85rem;
  }
  td {
    font-size: 1.05rem;
    text-align: left;
    p {
      margin: 0;
      font-size: 1.3rem;
    }
  }
}

#empty-caution {
  width: 100%;
  height: 10px;
  font-size: 0.8em;
  color: $blue;
  animation: PuruPuru 2s forwards, fadeOut 10s linear forwards;
}

// myfavorite
.myfavorite {
  padding-bottom: 50px;
  .fa-angle-double-right {
    font-size: 18px;
  }
}
.fas.fa-laugh-squint {
  color: $red;
  padding-right: 8px;
}
.follow {
  width: 30px;
  padding-bottom: 10px;
  margin-right: 5px;
}

//mypost
.mypost-wrap {
  width: 100%;
  .transition-btn {
    height: 100%;
    vertical-align: middle;
  }
}

// users/edit
.user-edit-title {
  margin-top: 50px;
}
.user-edit {
  position: relative;
  width: 100%;
  height: 100%;
  .user-show-right {
    margin-top: 30px;
  }
  .signup-in-wrap {
    padding: 0;
  }
  .field {
    input {
      width: 300px;
      padding: 10px;
      &+ i.fa {
      color: $kinari;
      font-size: 1em;
      position: absolute;
      margin-top: 18px;
      opacity: 0;
      right: 0px;
      transition: all 0.1s ease-in;
      }
      &:focus {
        border: 2px solid $black;
        border-radius: 5px;
        border-left-width: 40px;
        outline: none;
        &+ i.fa {
        opacity: 1;
        left: -260px;
        transition: all 0.25s ease-out;
        }
      }
    }
  }
}

#img_prev {
  width: 250px;
  height: 250px;
  object-fit: cover;
  &:hover {
    border: solid 3px $black;
  }
}

#avatar_prev {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 100%;
  &:hover {
    border: solid 3px $black;
  }
}

.edit-image-label {
  letter-spacing: 2px;
  margin-bottom: 0;
  // padding-bottom: 10px;
}

.edit-image {
  cursor: pointer;
  &:hover {
    transform: scale(1.08);
  }
}
