@import "variables";

// users/mypage
.maypage-top-wrap {
  position: relative;
  width: 100%;
  height: 350px;
}

.mypage-top {
  position: relative;
  height: 250px;
  width: 100%;
  .avatar-image-top {
    position: relative;
    height: 250px;
    object-fit: cover;
    width: 100%;
    z-index: 10;
    filter: grayscale(100%) contrast(0.9);
  }
  .user-name {
    position: absolute;
    top: 195px;
    left: 45%;
    z-index: 30;
    font-size: 2.3em;
    font-weight: bold;
    text-shadow: 0.5px 0.5px 0 $kinari;
  }
  .col-sm-4 {
    padding: 0;
  }
}

.mask-gradation {
  position: absolute;
  height: 250px;
  width: 100%;
  z-index: 20;
  opacity: 0.55;
  background-image: linear-gradient(45deg, $aqua, $violet);
}

// show
.user-show-top-wrap {
  position: relative;
  width: 100%;
  height: 100%;
}
.user-show-left {
  position: relative;
  width: 50%;
  text-align: center;
  margin: 50px auto;
  .avatar-image-top {
    position: relative;
    object-fit: cover;
    width: 100%;
    max-width: 250px;
    z-index: 10;
    border-radius: 100%;
  }

}
.user-show-right {
  position: relative;
  width: 50%;
  text-align: center;
  vertical-align: middle;
  margin: 70px auto;
  }
  .follow-part {
    margin: 50px auto;
    max-width: 200px;
  }

  .follow-btn {
    text-align: center;
    background-color: $grey;
    border-radius: 5px;
    width: 100%;
    margin: 0 auto;
    display: block;
    &:hover {
      transform: translateY(-5px);
    }
    img {
      width: 65px;
    }
    .unfollow, .follow {
      padding: 10px;
      span a {
        display: block;
      }
    }
}

.user-show-bottom {
  width: 100%;
  text-align: center;
  .user-show-post {
    padding-bottom: 50px;
  }
}

.fa-angle-double-right {
  &:hover {
    transform: translateX(5px);
  }
}

.floating-board {
  position: absolute;
  top: 80px;
  left: 5%;
  padding: 0;
  width: 100%;
  max-width: 250px;
  height: 500px;
  z-index: 40;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.avatar-image {
  padding: 0;
  height: 250px;
  object-fit: cover;
  width: 100%;
  background-color: $white;
}

.side-menu {
  text-align: center;
  ul {
    width: 100%;
    height: 100%;
    padding-top: 20px;
    padding-bottom: 33px;
    background-color: $lightgrey;
  }
  li {
    display: block;
    width: 100%;
    a {
      display: block;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
  .currently-selected {
    a {
      font-weight: bold;
      &:after {
        font-family: "Font Awesome 5 Free";
        font-size: large;
        content:   ' \f0da';
        color: $black;
        position: relative;
        left: 10px;
      }
    }
  }
}

.wrapper {
  position: relative;
  width: 100%;
  padding-top: 50px;
  background-color: $kinari;
}

// myprofile
.myprofile {
  padding-bottom: 50px;
  th {
  text-align: left;
  font-size: 0.9rem;
  }
  td {
    font-size: 1.1rem;
    text-align: left;
    p {
      margin: 0;
      font-size: 1.3rem;
    }
  }
}

#empty-caution {
  width: 100%;
  height: 10px;
  font-size: 0.8em;
  color: $blue;
  animation: PuruPuru 2s forwards, fadeOut 10s linear forwards;
}

// myfavorite
.myfavorite {
  padding-bottom: 50px;
  .fa-angle-double-right {
    font-size: 18px;
  }
}
.fas.fa-laugh-squint {
  color: $red;
  padding-right: 8px;
}
.follow {
  width: 30px;
  padding-bottom: 10px;
  margin-right: 5px;
}

//mypost
.mypost-wrap {
  padding-bottom: 50px;
  .transition-btn {
    vertical-align: middle;
    background-color: $black;
    color: $kinari;
  }
}

// users/edit
.user-edit-title {
  margin-top: 50px;
}
.user-edit {
  position: relative;
  width: 100%;
  height: 100%;
  .user-show-right {
    margin-top: 30px;
  }
  .signup-in-wrap {
    padding: 0;
  }
  .field {
    input {
      width: 300px;
      padding: 10px;
      &+ i.fa {
      color: $kinari;
      font-size: 1em;
      position: absolute;
      margin-top: 18px;
      opacity: 0;
      right: 0px;
      transition: all 0.1s ease-in;
      }
      &:focus {
        border: 2px solid $black;
        border-radius: 5px;
        border-left-width: 40px;
        outline: none;
        &+ i.fa {
        opacity: 1;
        left: -260px;
        transition: all 0.25s ease-out;
        }
      }
    }
  }
}

#img_prev {
  width: 250px;
  height: 250px;
  object-fit: cover;
  &:hover {
    border: solid 3px $black;
  }
}

#avatar_prev {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 100%;
  &:hover {
    border: solid 3px $black;
  }
}

.edit-image-label {
  text-decoration: underline;
  letter-spacing: 2px;
  padding-bottom: 10px;
}

.edit-image {
  cursor: pointer;
  &:hover {
    transform: scale(1.08);
  }
}
