// users/show
.maypage-top-wrap {
  position: relative;
  width: 100%;
  height: 350px;
}

.mypage-top {
  position: relative;
  height: 250px;
  width: 100%;
  .avatar-image-top {
    position: relative;
    height: 250px;
    object-fit: cover;
    width: 100%;
    z-index: 10;
    filter: grayscale(100%) contrast(0.9);
    }
  h2 {
    position: absolute;
    top: 200px;
    left: 40%;
    z-index: 30;
  }
  .col-sm-4 {
    padding: 0;
  }
}

.mask-gradation {
  position: absolute;
  height: 250px;
  width: 100%;
  z-index: 20;
  opacity: 0.55;
  background-image: linear-gradient(45deg, #00ffff, #351586);
}

.floating-board {
  position: absolute;
  top: 80px;
  left: 5%;
  padding: 0;
  width: 100%;
  height: 500px;
  z-index: 40;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.avatar-image {
  padding: 0;
  height: 250px;
  object-fit: cover;
  width: 100%;
  background-color: #fff;
}

.side-menu {
  text-align: center;
  ul {
    padding-top: 20px;
    padding-bottom: 33px;
    background-color: #F2F2F2;
  }
  li {
    width: 100%
  }
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 50px;
  background-color: #FCFAF2;
}

.profile {
  th {
  text-align: left;
  vertical-align: middle;
  }
  td {
    text-align: left;
    vertical-align: middle;
  }
}

#empty-caution {
  width: 100%;
  height: 10px;
  font-size: 0.8em;
  color: #0B346E;
  animation: PuruPuru 2s forwards, fadeOut 10s linear forwards;
}

// users/edit
#img_prev {
  width: 240px;
  height: 100%;
}
